
@{
    ViewBag.Title = "FindTickets";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>{{translation.find_tickets}}</h2>

<h5>{{translation.find_tickets_by_transaction_number}}</h5>
<hr />

<form action="/projections/ViewReservations" method="get">
    {{translation.transaction_number}}
    <input name="transactionId" type="text" class="form-control input-lg" placeholder="{{translation.transaction_number}}" /><br />
    <button type="submit" class="btn btn-primary">{{translation.find_tickets}}</button>
</form>
