@{
    ViewBag.Title = "Home Page";
}
<div class="row justify-content-md-center" style="background-image:url('/Content/movieWallpapers/mov1.jpg'); padding-top:200px; padding-bottom:300px; background-position:center; background-repeat:no-repeat; background-size:cover; width:100%;">
    <div class=" col-md-10 " style="background-color:rgba(0,0,0,1); padding-top:100px; padding-bottom:100px; border-radius:10px; color:white;">
        <center><h1>{{translation.welcome_header}}</h1></center>
        <center><p>{{translation.welcome_subtext}}</p></center>
    </div>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div style="background-color:lightpink; position:relative; text-align:center; bottom:100px; border:2px solid white; border-radius:5px; padding:15px;">
            <h4>{{translation.reserve_tickets_now}}</h4>
            <hr />

            <p>{{translation.make_sure_to_grab_tickets}}</p>
            <button ng-click="btnReserve()" type="button" class="btn btn-primary">{{translation.button_reserve_tickets}}</button>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <h2>{{translation.whyOurCinema}}</h2>
        <p>{{translation.whyOurCinemaExp}}</p>
    </div>
    
</div>
<br />
<div class="row">
    <div class="col-md-2"></div>
    <img class="col-md-4" src="~/Content/comfort.jpg" />
    <div class="col-md-4">
        <h2>{{translation.comfortOfYourHome}}</h2>
        <p>{{translation.comfortOfYourHomeExp}}</p>
    </div>
    <div class="col-md-2"></div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <h2>{{translation.fastAndEasy}}</h2>
        <p>{{translation.fastAndEasyExp}}</p>
    </div>

    <img class="col-md-4" src="~/Content/fast.jpg" />
    <div class="col-md-2"></div>

</div>
<div class="row">
    <div class="col-md-2"></div>
    <img class="col-md-4" src="~/Content/padlock.jpg" />
    <div class="col-md-4">
        <h2>{{translation.safeAndSecure}}</h2>
        <p>{{translation.safeAndSecureExp}}</p>
    </div>
    <div class="col-md-2"></div>
</div>
@section scripts{
    
}

